<!-- item-detail.component.html -->
<div class="item-detail" *ngIf="item">
  <h3>Item Detail</h3>
  <p class="item-info">Item ID: {{ item.id }}</p>
  <p class="item-info">Name: {{ item.productName }}</p>
  <p class="item-info">Price(AUD): {{ item.price }}</p>
  <p class="item-info">Description: {{ item.description }}</p>
  <label class="quantity-label" for="quantity">Quantity:</label>
  <input class="quantity-input" type="number" id="quantity" [(ngModel)]="selectedQuantity" min="1" max="10">
  <div class="button-container">
    <button class="add-to-cart-btn" (click)="addToCart(item, selectedQuantity)">Add to Cart</button>
    <button class="continue-shopping-btn" (click)="continueShopping()">Continue Shopping</button>
  </div>
</div>
