<div class="cart-container">
  <div *ngIf="cartItems.length > 0">
    <div *ngFor="let item of cartItems" class="cart-item">
      <div class="item-details">
        <p><strong>{{ item.name }}</strong></p>
        <p>Price: ${{ item.price }}</p>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Total Price: {{ item.quantity * item.price }}</p>
      </div>
      <div class="item-actions">
        <input type="number" [(ngModel)]="item.quantity" class="quantity-input" min="1" max="10">
        <button class="update-btn" (click)="updateItem(item)">Update</button>
        <button class="delete-btn" (click)="deleteItem(item.itemId)">Delete</button>
      </div>
    </div>
    <div class="total">
      <p><strong>Total: {{ total }} </strong></p>
    </div>
  </div>
  <div *ngIf="cartItems.length == 0" class="empty-cart">
    <div class="empty-cart-icon"> <i class="fa fa-shopping-cart"></i></div>
    <p>Your cart is empty.</p>
  </div>
  <div class="navigation">
    <button class="continue-shopping-btn" (click)="continueShopping()">Continue Shopping</button>
  </div>
</div>
